node_modules
**/node_modules
**/dist
**/build
**/.vite
**/.turbo
.git
.vscode
.idea
.codebuddy
apps/backend/tmp
apps/backend/.env
apps/frontend/.env
apps/frontend/.env.local
**/.env.local
**/coverage
**/*.lcov
**/.nyc_output
.DS_Store
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.DS_Store
